@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face untuk Inter */
@font-face {
  font-family: 'Satoshi';
  src: url('../../admin/fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi Black Italic';
  src: url('../../admin/fonts/Satoshi-BlackItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi Bold';
  src: url('../../admin/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}


/* Base Styles */
body {
  font-family: "Satoshi Black Italic", sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-black dark:bg-white !important;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;

}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

/* Add to your global CSS */
footer {
  contain: content;  /* 👈 Limits browser recalculations */
}
footer * {
  will-change: auto; /* 👈 Opts out of LCP consideration */
}